html {
  height: 750px;
}

div {
  margin: 0;
  padding: 0;
}

p {
  font-size: 3em;
}

#sketchpad {
  border-radius: 5px;
  padding: 0;
  width: 600px;
  height: 600px;
  font-size: 0;
  margin: auto;
}

.sketchpad-pixel {
  background-color: #e6e6e6;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: right;
}

#container {
  border-radius: 25px;
  width: 850px;
  height: auto;
  margin: auto;
  background-color: #d0d0d0;
  margin-top: 20px;
}

#color-container {
  float:right;
  position: relative;
  top: -482px;
  width: 125px;
}

#color-container > button {
  display: block;
  margin: auto;
  width: 80px;
  margin-top: 24px;
}

#canvas-button-container {
  float: left;
  position: relative;
  top: -482px;
  width: 125px;
}

#canvas-button-container > button {
  display: block;
  margin: auto;
  width: 80px;
  margin-top: 24px;
}

#title {
  margin: auto;
  display: block;
  width: 576px;
  height: 80px;
}

#title-container {
  width: 850px;
  margin: auto;
  margin-top:20px;
}

.title-pixel {
  display: inline-block;
  float: left;
}
